APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:UyhlXp9EZOTO/YPWwC7J+93iU4rybhTkrpOowXXs4rg=
APP_DEBUG=true
APP_URL=https://metin2migration.fly.dev/

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

ADMIN_USER=Metin2MigrationAdminPanelLogin
ADMIN_PASS=verytitkosítottjelszohashtagfarmingNeVeRdAJ
VITE_ADMIN_API_TOKEN=WP1DsHwzJ4bzgutS9JCUkYiGpeYDlt0Tb82zrijqhYxSpf5bpARJHA4kdyTTHEA9

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_URL=sqlite://grayzone-bari1192.aws-eu-west-1.turso.io
DB_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NTQyNTgyOTAsImlkIjoiMzVjNzc4N2EtZTAxOS00YzUxLWEzMDktOWYyZjQ0ZTUwMGMwIiwicmlkIjoiOTM0ZDQ4OGUtMGJjMS00MjUwLTkyNzYtNjgyYTNkNDE0OTRmIn0.mu9qj0eFzgUBf4dV-SakHz37q_baInmPhRNxujTQ7lT1J6_WBw3Vsy9E2Pya26swR6bqsXUac8qtwj_4BO4gCQ

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

VITE_APP_NAME="${APP_NAME}"
